/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

h1 {
   font-family: 'Barrio', cursive;
   font-size: 5rem;
}


.--menu-button {
   box-shadow: none !important;
   border: none !important;
}

.--menu {
   background: white !important;
}

.--menu ul li:nth-child(1) {
   color: var(--blue-500);
   background: white;
}

.p-menuitem-text {
   color: var(gray-900);
}

.p-menuitem-link:hover {
   background: var(--blue-500) !important;
}

.p-menuitem-link:hover>* {
   color: white !important;
}

.--regular,
.--regular-bold {
   font-family: 'Manrope', sans-serif;
   font-size: 1rem;
}

.--regular-bold {
   font-weight: 500;
}


#_sidebar {
   height: 100%;
   min-height: 100vh;
   min-width: 30%;
   // position: absolute;
   // z-index: 1;

   // @media screen and (max-width: 720px) {
   //    min-width: 100%;
   // }
}